*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 50px;
    text-align: right;
}
header button {
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    color: white;
    background-color: grey;
    margin-top: 3px;
}
main {
    height: calc(100vh - 130px);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
.photo {
    width: 200px;
    border: 2px solid black;
    position: relative;
}
.photo img {
    max-width: 100%;
    height: auto;
}
.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-weight: 300;
}
.name i {
    color: red;
    font-size: 13px;
}
#active {
    border: 1px solid lime;
}
footer {
    height: 80px;
    background-color: #141518;
    color: white;
    display: flex;
}
.footer-left {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-center {
    height: 100%;
    width: calc(100vw - 350px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-share-square {
    color: Lime;
}
.footer-right {
    height: 100%;
    width: 150px;
    color: red;
    display: flex;
    background-color: grey;
}
.footer-right span {
    margin: auto;
    font-size: 20px;
}
.tool {
    text-align: center;
}
.tool i {
    font-size: 20px;
}
.tool p {
    font-size: 13px;
}

@media screen and (max-width: 479px) {
    .footer-center {
        display: none;
    }
}
@media screen and (min-width: 480px) and (max-width: 992px) {
    .footer-center .tool:not(:nth-child(4)){
        display: none;
    }
}
