*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    cursor: pointer;
}
header {
    height: 50px;
    text-align: right;
}
header button {
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    color: white;
    background-color: grey;
    margin-top: 3px;

}
main {
    height: calc(100vh - 130px);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
.persona {
    width: 200px;
    height: 150px;
    border: 2px solid black;
    position: relative;
}
.name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}
#active {
    border: 1px solid lime;
}
footer {
    height: 80px;
    background-color: #141518;
    color: white;
    display: flex;
}
.footer-left {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-center {
    height: 100%;
    width: calc(100vw - 350px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-share-square {
    color: Lime;
}
.footer-right {
    height: 100%;
    width: 150px;
    color: red;
    display: flex;
}
.footer-right span {
    margin: auto;
    font-size: 20px;
}

@media screen and (max-width: 1080px) {
    .footer-center {
        display: none;
    }
}
